bahasa1/migrations/__pycache__/__init__.cpython-39.pyc
bahasa1/__pycache__/__init__.cpython-39.pyc
bahasa1/__pycache__/admin.cpython-39.pyc
bahasa1/__pycache__/apps.cpython-39.pyc
bahasa1/__pycache__/models.cpython-39.pyc
bahasa1/__pycache__/urls.cpython-39.pyc
bahasa1/__pycache__/views.cpython-39.pyc
bahasa/__pycache__/__init__.cpython-39.pyc
bahasa/__pycache__/settings.cpython-39.pyc
bahasa/__pycache__/urls.cpython-39.pyc
bahasa/__pycache__/wsgi.cpython-39.pyc
